*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 3rem 8rem ;
  background-color: #d6d6d6;
}

.App{
  background-color: white;
  display: flex;
  height: 88vh;
  border-radius: 20px;
  justify-content: space-between;
}

@media(max-width: 1000px) {
.App{
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 0;
}
body{
  padding: 0;
}
}