.rise {
  width: 230px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffff;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 15px;
}

.rise-info {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.rise-info h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.rise-icon1 {
  padding-top: 7px;
  font-size: 2rem;
  color: rgb(245, 95, 25);
}

.rise-icon2 {
  padding-top: 7px;
  font-size: 2rem;
  color: rgb(25, 172, 245);
}

.p {
  color: #cbcbcb;
}

@media (min-width: 1130px) and (max-width: 1400px) {
  /* CSS rules here */
  .rise {
    width: 190px;
    height: 140px;
  }
  .rise-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (min-width: 1000px) and (max-width: 1129px) {
  /* CSS rules here */
  .rise {
    width: 160px;
    height: 125px;
  }
  .rise-info h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .rise-icon1 {
    font-size: 1rem;
    color: rgb(245, 95, 25);
  }

  .rise-icon2 {
    font-size: 1rem;
    color: rgb(25, 172, 245);
  }
  .p {
    font-size: 12px;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .rise {
    width: 200px;
    height: 150px;
    padding: 1rem;
    margin: 1rem;
  }
  .rise-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .rise-icon1 {
    font-size: 1.5rem;
    color: rgb(245, 95, 25);
  }

  .rise-icon2 {
    font-size: 1.5rem;
    color: rgb(25, 172, 245);
  }
  .p {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .rise {
    width: 140px;
    height: 100px;
    padding: 1rem;
    margin: 0.5rem;
  }
  .rise-info h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .rise-icon1 {
    font-size: 1rem;
    color: rgb(245, 95, 25);
  }

  .rise-icon2 {
    font-size: 1rem;
    color: rgb(25, 172, 245);
  }
  .p {
    font-size: 12px;
  }
}


@media (max-width: 350px) {
  .rise {
    width: 120px;
    height: 100px;
    padding: 1rem;
    margin: 0.5rem;
  }
  .p {
    font-size: 11px;
  }
}

@media (max-width: 305px) {
  .rise {
    width: 100px;
    height: 100px;
    padding: 1rem;
    margin: 0.5rem;
  }
  .p {
    font-size: 8px;
  }
  .rise-info h2 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
